{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "strict": "error",
        "space-before-function-paren": "error",
        "no-console": 0,
        "one-var": "warn",
        "indent": ["warn", 4],
        "linebreak-style": ["error", "windows"],
        "quotes": ["warn", "double"],
        "semi": ["error", "always"],
        "no-extra-boolean-cast": [0]
    },
    "globals": {
        "window": false,
        "document": false,
        "console": false,
        "jQuery": false,
        "performance": false,
        "atob": false,
        "btoa": false
    }
}
