{
    "env": {
        "browser": true
    },
    "extends": "eslint:recommended",
    "rules": {
        "strict": "error",
        "no-console": 0,
        "one-var": "warn",
        "indent": ["warn", 4],
        "linebreak-style": ["error", "unix"],
        "quotes": ["warn", "double"],
        "semi": ["error", "always"],
        "no-extra-boolean-cast": [0]
    },
    "globals": {
        "window": false,
        "document": false,
        "console": false,
        "CXI": false,
        "LazyLoader": false,
        "MutationObserver": false,
        "jQuery": false,
        "performance": false,
        "head": false,
        "Cobalt": false,
        "cdkPartners": false,
        "ContextManager": false,
        "digitalData": false,
        "lightPack": false,
        "atob": false,
        "btoa": false
    }
}
