extends layout

block content
  h1= title
  p This is a test page titled #{title}
  p this is pretty durn neat, if you ask me.
  div I can do whatever I want
  div I am going to need to figure out how to tag class and ID on my HTML Though, this language is slightly new to me.